mixin app(name, fonticon, descr, url)
  a.media.btn.btn-default(role='button' href='#{url}' style='margin-bottom:4px;white-space: normal;')
    .media-left.media-middle
      i.fa.fa-2x.fa-fw(class='#{fonticon}')
    .media-body
      .media-heading #{name}
      p #{descr}

- for(var i = 0; i < apps.length; ++i) {
  - if(apps[i]['list'].length > 0) {
  .panel.panel-primary
    .panel-heading
      .panel-title #{apps[i]['name']}
    .panel-body
      - for(var j = 0; j < apps[i]['list'].length; ++j) {
      .row
        // left column
        .col-md-6
          +app(apps[i]['list'][j]['name'], apps[i]['list'][j]['fonticon'], apps[i]['list'][j]['description'], apps[i]['list'][j]['url'])
        // right column
        .col-md-6
          - ++j
          - if(j < apps[i]['list'].length)
            +app(apps[i]['list'][j]['name'], apps[i]['list'][j]['fonticon'], apps[i]['list'][j]['description'], apps[i]['list'][j]['url'])
      -}
  - }
- }