mixin app(name, fonticon, descr, url)
  .media.a.btn.btn-default(role='button' href='#{url}' style='margin-bottom:4px;white-space: normal;')
    .media-left.media-middle
      i.fa.fa-4x.fa-fw(class='#{fonticon}')
    .media-body
      h4.media-heading #{name}
      p #{descr}

- for(var i = 0; i < apps.length; ++i) {
.panel.panel-primary
  .panel-heading
    .panel-title #{apps[i]['name']}
  .panel-body
    - for(var j = 0; j < apps[i]['list'].length; ++j) {
    .row
      // left column
      .col-md-6
        +app(apps[i]['list'][j]['name'], apps[i]['list'][j]['fonticon'], apps[i]['list'][j]['description'], apps[i]['list'][j]['url'])
      // right column
      .col-md-6
        - ++j
        - if(j < apps[i]['list'].length)
          +app(apps[i]['list'][j]['name'], apps[i]['list'][j]['fonticon'], apps[i]['list'][j]['description'], apps[i]['list'][j]['url'])
    -}
- }