mixin app(name, fonticon, descr, url)
  .media
    .media-left.media-middle
      a(href='#{url}')
        i.fa.fa-4x.fa-fw(class="#{fonticon}")
    .media-body
      a(href='#{url}')
        h4.media-heading #{name}
      p #{descr}

mixin app_group(name)
  h2 #{name}

- for(var i = 0; i < apps.length; ++i) {
+app_group(apps[i]['name'])
.row
  // left column
  .col-sm-6
    .media-list
      - for(var j = 0; j < apps[i]['list'].length; j+=2) {
        +app(apps[i]['list'][j]['name'], apps[i]['list'][j]['fonticon'], apps[i]['list'][j]['description'], apps[i]['list'][j]['url'])
      -}

  // right column
  .col-sm-6
    .media-list
      - for(var j = 1; j < apps[i]['list'].length; j+=2) {
        +app(apps[i]['list'][j]['name'], apps[i]['list'][j]['fonticon'], apps[i]['list'][j]['description'], apps[i]['list'][j]['url'])
      -}
- }