extends ../../../shared/client/views/templates/app-view-layout.jade

block view-toolbar-left
  .btn-group
     button.btn.btn-default.btn-toolbar(type='button' ng-class='{disabled: !selected_project}' ng-click='run()')
        i.fa.fa-play
        br
        small.small Run
     button.btn.btn-default.btn-toolbar(type='button' ng-class='{disabled: !ProgramService.running}' ng-click='stop()')
        i.fa.fa-stop
        br
        small.small Stop
        
  .btn-group(ng-if='selected_project')
     a.btn.btn-default.btn-toolbar(type='button' href='/#/apps/kiss?project={{selected_project.name}}')
        i.fa.fa-file-code-o
        br
        small.small Edit {{selected_project.name}}
        
  .btn-group
     a.btn.btn-default.btn-toolbar(type='button' href='/#/apps/kiss')
        i.fa.fa-file-code-o
        br
        small.small KISS IDE

  .btn-group
    a.btn.btn-toolbar.btn-default(type='button' ng-class='{"btn-primary": show_console}' ng-click='show_console = !show_console')
      i.fa.fa-terminal
      br
      small.small Show Console
    a.btn.btn-toolbar.btn-default(type='button' ng-class='{"btn-primary": show_graphics_window}' ng-click='show_graphics_window = !show_graphics_window')
      i.fa.fa-picture-o 
      br
      small.small Show Graphics Window

block view-content
  .row.row-stretch
    .col-xs-3.col-stretch
      .panel.panel-primary.panel-stretch
        .panel-heading
          .panel-title Projects:
        .scrollable-panel-body-container
          table.panel-body.table.tree-table
            tbody
              tr(ng-repeat = "project in ws.projects" ng-class='{info: selected_project === project}' ng-click='select_project(project)')
                th
                th {{project.name}}

    .col-stretch(ng-show='show_console' ng-class='{"col-xs-9": !show_graphics_window && show_console, "col-xs-4": show_graphics_window && show_console}' )
      .panel.panel-primary.panel-stretch
        .panel-heading(ng-click='select_graphics_window()')
          .panel-title Console Window
            span.btn-group-xs.pull-right
              button.btn.btn-danger(type='button' ng-click='show_console = !show_console')
                i.fa.fa-times
        .scrollable-panel-body-container
          terminal.terminal-stretch(output-event="runner-program-output" input-event="runner-program-input" reset-event="runner-reset-terminal")

    .col-stretch(ng-show='show_graphics_window' ng-class='{"col-xs-9": show_graphics_window && !show_console, "col-xs-5": show_graphics_window && show_console}' )
      .panel.panel-primary.panel-stretch
        .panel-heading
          .panel-title
            | Graphics Window
            span.btn-group-xs.pull-right
              a.btn.btn-default(type='button' href="/api/run/current/graphics" download)
                i.fa.fa-floppy-o
              button.btn.btn-default(type='button' ng-click='select_graphics_window()')
                i.fa.fa-keyboard-o
              button.btn.btn-danger(type='button' ng-click='show_graphics_window = !show_graphics_window')
                i.fa.fa-times

        .scrollable-panel-body-container
          img#graphics_window.panel-body(ng-src="{{img_src}}"
            ng-mousemove="gui_mousemove($event)"
            ng-mousedown="gui_mousedown($event)"
            ng-mouseup="gui_mouseup($event)"
            oncontextmenu="return false;"
            set-focus="graphics_window_focus"
            tabindex="0"
            ng-if='img_src')
