mixin app(name, icon, fonticon, descr, url)
  div(class='media')
    div(class=['media-left', 'media-middle'])
      a(href='#{url}')
        - if(icon === undefined)
          i(class=['fa', '#{fonticon}', 'fa-4x', 'fa-fw'])
        - else
          img(class='media-object', src='#{icon}', width=64, height=64)
    div(class='media-body')
      a(href='#{url}')
        h4(class='media-heading') #{name}
      p #{descr}
mixin app_group(name)
  h2 #{name}


- for(var i = 0; i < apps.length; ++i) {
+app_group(apps[i]['name'])
- var lists = [];
- for(var j = 0; j < Math.ceil(apps[i]['list'].length / 2); ++j) lists.push([]);
- for(var j = 0; j < apps[i]['list'].length; ++j) lists[Math.floor(j / 2)].push(apps[i]['list'][j]);
- for(var j = 0; j < lists.length; ++j) {
div(class='row')
  - for(var k = 0; k < lists[j].length; ++k) {
  div(class='col-sm-6')
    +app(lists[j][k]['name'], lists[j][k]['icon'], lists[j][k]['fonticon'], lists[j][k]['description'], lists[j][k]['url'])
  - }
- }
- }